[submodule "src/eigen-quadprog"]
	path = src/eigen-quadprog
	url = https://github.com/jorisv/eigen-quadprog.git
[submodule "src/eigen-qld"]
	path = src/eigen-qld
	url = https://github.com/jorisv/eigen-qld.git
