#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

TMP = $(CURDIR)/debian/tmp

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DPYTHON_BINDING:BOOL=OFF
